/* call font-face */
@import url('https://github.com/Rururuki/Custom_Fonts/blob/main/font.css');
/* apply font */
h1 {
	font-family: 'Jellybean-Regular', serif;
	font-weight: normal;
	font-style: normal;
}
