h1 {
    color:blue;
}
/* define font-face */
@font-face {
    font-family: 'Jellybean';
    src: url('https://cdn.jsdelivr.net/gh/Rururuki/Custom_Fonts@main/fonts/Jellybean.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
